<div ng-class="{'invisible-titlebar-safe-area' : state.isTitleBarVisible}" ng-controller="WidgetHomeCtrl as WidgetHome">
    <div class="holder padding-zero has-bottom sticky-bottom-menu clearfix">
        <div class="infinite-scroll-parent scrollable">
            <div class="feedback-plugin review">
                <div class="media-center-banner plugin-banner clearfix" ng-if="WidgetHome.data">
                    <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length" build-fire-carousel=""
                        ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}">
                    </div>
                </div>
                <div class="padded padding-bottom-zero"
                    ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
                    <p ng-bind-html='WidgetHome.safeHtml(WidgetHome.data.content.description)'></p>
                </div>
                <div class="intro" style="box-shadow: {{state.dynamicBoxShadow}};">
                    <div class="user-info-container">
                        <div class="column">
                            <img ng-if="!WidgetHome.currentLoggedInUser.imageUrl"
                                src="../../../styles/media/avatar-placeholder.png" alt="user name" class="user-image">
                            <img ng-if="WidgetHome.currentLoggedInUser.imageUrl" load-image="1x1" crop-width="60"
                                crop-height="60" crop-type="crop"
                                data-final-src="{{WidgetHome.currentLoggedInUser.imageUrl}}" alt="" class="user-image">
                        </div>
                        <div class="column">
                            <span class="user-name"
                                ng-click="WidgetHome.buildfire.auth.openProfile(WidgetHome.currentLoggedInUser._id)">{{WidgetHome.currentLoggedInUser.displayName
                                || 'No Name'}}</span>
                            <span class="review-date">{{WidgetHome.lastReviewDate |date:'medium'}}</span>
                            <p ng-if="WidgetHome.reviews.length"><span class="review-message"
                                    ng-bind-html="WidgetHome.lastReviewComment | newLine"></span></p>
                            <div class="rating-stars home-rating">
                                <div class="rating br-wrapper br-theme-css-stars" ng-if="WidgetHome.reviews.length">
                                    <average-star-rating ng-model="WidgetHome.ratingAverage"
                                        max="5"><average-star-rating>
                                </div>
                                <span class="average-rating">{{ state.getAverageRating(WidgetHome.ratingAverage) }}/5
                                    <span class="rating-average-label"
                                        ng-if="WidgetHome.ratingAverage >= 0 && WidgetHome.ratingAverage <=1 && WidgetHome.reviews.length">({{state.strings.reviews.oneStarRating
                                        || 'Poor'}})</span>
                                    <span class="rating-average-label"
                                        ng-if="WidgetHome.ratingAverage>1 && WidgetHome.ratingAverage<=2 && WidgetHome.reviews.length">({{state.strings.reviews.twoStarsRating
                                        || 'Average'}})</span>
                                    <span class="rating-average-label"
                                        ng-if="WidgetHome.ratingAverage>2 && WidgetHome.ratingAverage<=3 && WidgetHome.reviews.length">({{state.strings.reviews.threeStarsRating
                                        || 'Good'}})</span>
                                    <span class="rating-average-label"
                                        ng-if="WidgetHome.ratingAverage>3 && WidgetHome.ratingAverage<=4 && WidgetHome.reviews.length">({{state.strings.reviews.fourStarsRating
                                        || 'Excellent'}})</span>
                                    <span class="rating-average-label"
                                        ng-if="WidgetHome.ratingAverage>4 && WidgetHome.reviews.length">({{state.strings.reviews.fiveStarsRating
                                        || 'Outstanding'}})</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-comments clearfix">
                    <div id="top" infinite-scroll-distance="1" data-infinite-container=".infinite-scroll-parent"
                        infinite-scroll="WidgetHome.getChatData()" infinite-scroll-disabled="WidgetHome.noMore">
                        <div class="comment" ng-repeat="data in WidgetHome.chatMessageData | orderBy:'-data.chatTime'">
                            <span class="user-name"
                                ng-click="WidgetHome.buildfire.auth.openProfile(data.data.id)">{{data.data.chatFrom ||
                                'No Name'}}</span>
                            <span class="comment-date">{{data.data.chatTime |date:'medium'}}</span>
                            <p class="comment-message" ng-bind-html="data.data.chatMessage | newLine"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="holder padding-zero bottom-post post-container" ng-if="WidgetHome.currentLoggedInUser">
        <div id="sendCommentFabContainer" ng-init="WidgetHome.initializedFABButton()"></div>
    </div>
</div>