<div class="holder padding-zero submit-review-page"
	ng-class="{'invisible-titlebar-safe-area' : state.isTitleBarVisible}"
	ng-controller="WidgetSubmitCtrl as WidgetSubmit">
	<form name="reviewForm" class="feedback-plugin submit-review">
		<div class="top-container">
			<span class="title">{{state.strings.addReview.leaveYourFeedback || 'Leave Your Feedback'}}</span>
			<span class="subtitle">{{state.strings.addReview.yourRating|| 'Your Rating'}}</span>
			<star-rating ng-model="WidgetSubmit.Feedback.starRating" max="5"
				on-rating-select="WidgetSubmit.rateFunction(rating)"></star-rating>
		</div>

		<div class="message-container">
			<div ng-if="WidgetSubmit.currentLoggedInUser"
				class="mdc-text-field mdc-text-field--filled review-textarea required-review-textarea">
				<span class="mdc-text-field__ripple"></span>
				<span class="textarea-label">{{state.strings.addReview.writeANote || 'Write a Review'}}</span>
				<textarea name="feedbackMessage" ng-focus="WidgetSubmit.showReviewDialog()"
					ng-model="WidgetSubmit.Feedback.Message" class="mdc-text-field__input review-message-textarea"
					ng-model="WidgetSubmit.Feedback.Message" id="requiredReviewTextarea" required></textarea>

			</div>
			<div ng-if="!WidgetSubmit.currentLoggedInUser"
				class="mdc-text-field mdc-text-field--filled review-textarea">
				<span class="mdc-text-field__ripple"></span>
				<span class="textarea-label">{{state.strings.addReview.writeANote || 'Write a Review'}}</span>
				<textarea name="feedbackMessage" class="mdc-text-field__input review-message-textarea"
					ng-model="WidgetSubmit.Feedback.Message" ng-model="WidgetSubmit.Feedback.Message"></textarea>
			</div>
		</div>
		<div class="button-container">
			<input id="submitReviewButton" type="button" class="submit submit-button btn" id="submitButton"
				ng-click="WidgetSubmit.save()" value="{{state.strings.addReview.submitReviewButton}}"
				ng-disabled="WidgetSubmit.disabled"></br></br>
		</div>
	</form>
</div>