
<script type="text/javascript" charset="utf-8">
	$(function() {
	 	$('#stars').barrating({
	     	theme: 'css-stars'
	  	});
	});
</script>
<div class="holder padding-zero wall-page" ng-controller="WidgetWallCtrl as WidgetWall">
	<div class="feedback-plugin review-wall">
		<div ng-if="!WidgetWall.noReviews"  class="user-info-container" ng-class="{'invisible-titlebar-safe-area':window.isTitlebarVisible}" style="box-shadow: {{WidgetWall.dynamicBoxShadow}};">
			<div class="column">
				<!-- todo get the user image -->
				<img ng-if="!WidgetWall.currentLoggedInUser.imageUrl" src="../../../styles/media/avatar-placeholder.png" alt="user name" class="user-image">
				<img ng-if="WidgetWall.currentLoggedInUser.imageUrl"  load-image="1x1"
				crop-width="60" crop-height="60" crop-type="crop"
				data-final-src="{{WidgetWall.currentLoggedInUser.imageUrl}}"
				alt="" class="user-image">
			</div>
			<div class="column">
				<span class="user-name" ng-click="WidgetWall.buildfire.auth.openProfile(WidgetWall.currentLoggedInUser._id)">{{WidgetWall.currentLoggedInUser.displayName || 'No Name'}}</span>
				<span class="reviews-number"><span bfString="reviews.reviews" class="reviews-number">Reviews</span>: {{WidgetWall.reviews.length}}</span>
				<span class="average-rating"><span bfString="reviews.averageRating" class="average-rating">Average Rating</span>: {{ WidgetWall.totalRating / (WidgetWall.reviews.length) | number:2 }}/5</span>
				<div class="rating-stars">
					<div class="rating br-wrapper br-theme-css-stars" ng-if="WidgetWall.reviews.length">
						<average-star-rating ng-model="WidgetWall.startPoints" max="5"></average-star-rating>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div  ng-if="WidgetWall.noReviews" class="no-event-found padded">
				<div id="introduction"></div>
				<div class="empty-box-container">
					<img src="../../../../styles/media/empty.svg" alt="">
				</div>
			</div>
		</div>
         <div id="top"
             infinite-scroll-distance="1"
             data-infinite-container=".infinite-scroll-parent"
             infinite-scroll="WidgetWall.getReviews()"
             infinite-scroll-disabled="WidgetWall.noMore">
		<div class="review-item review-container clearfix" ng-repeat = "data in WidgetWall.reviews | orderBy:'-data.addedDate'">
			<div class="review-title">
				<span class="review-date">{{data.data.addedDate | date:'medium'}}</span>
				<span ng-click="WidgetWall.goToChat(data)" class="material-icons comment-icon">
					<svg width="25" height="24" viewBox="0 0 25 24"  xmlns="http://www.w3.org/2000/svg">
					<g id="icons/chat">
					<path id="Vector" d="M22.7034 22.2033L18.7034 18.2033H4.57187C3.94216 18.2033 3.40556 17.9816 2.96207 17.5381C2.51861 17.0946 2.29688 16.558 2.29688 15.9283V4.07178C2.29688 3.44206 2.51862 2.90546 2.96213 2.46198C3.40559 2.01849 3.94218 1.79675 4.5719 1.79675H20.4284C21.0581 1.79675 21.5947 2.01849 22.0382 2.46198C22.4817 2.90546 22.7034 3.44206 22.7034 4.07178V22.2033H22.7034ZM4.57187 4.07178V15.9283H19.4686L20.4284 16.8881V4.07178H4.57187Z"/>
					</g>
					</svg>
				</span>
			</div>
			<p class="review-message" ng-bind-html="data.data.Message | newLine"></p>
			<div class="review-rate">
				<average-star-rating ng-model="data.data.starRating" max="5"></average-star-rating>
			</div>
		</div>
     </div>
    </div>
	<div id="fabSpeedDialContainer"></div>
</div>